<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
      <img src="/smoothie.png" alt="">
    </div>
    <div class="headings">
      <h2>Smoothie Recipes</h2>
      <h3>By Ninjas For Ninjas</h3>
      <h3>404 page</h3>
    </div>
  </header>


<%- include('partials/footer'); -%>